snippet sugartest "Sugar PHPUnit test"

use ${1:}\\${2:};

class $2Test extends \SugarTest
{
    public function SetUp()
    {
        \$this->uut = new $2();
    }

    public function test_it_can_be_created()
    {
        \$this->assertInstanceOf('$1\\$2', $this->uut);
    }
}
endsnippet
